html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #eee;
}

.eheh {
  color: black;
  font-size: 72px;
  text-align: center;
  padding: 200px 20px;
}

/*-------------------------------
    General Customization
-------------------------------*/

.animate {
  transition: all 0.3s ease-out;
}

.shadow {
  box-shadow: 0 4px 4px #0002;
}

.button {
  background: white;
  color: #3040f0;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  box-shadow: 0 2px 2px #0000;
}
.button:hover {
  box-shadow: 0 3px 4px #0004;
}

.text-light {
  color: white;
}



/*-------------------------------
  Header
-------------------------------*/

.header {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0) );
  position: fixed;
  padding-bottom: 30px;
  z-index: 100;
  width: 100%;
}

.header_logo {
  display: block;
  padding: 5px;
}
.header_logo img{
  display: block;
  margin: auto auto;
  height: 70px;
  width: 70px;
}

.header_icon-bar {
  display: block;
  color: white;
  padding: 10px;
  text-align: center;
  margin: auto auto;
}
.header_icon-bar:hover {
  background: #fff2;
}

.header_menu {
  width: 100%;
  height: 0px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.header_menu_item {
  display: block;
}
.header_menu_item a {
  color: white;
  font-weight: 400;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.header_menu_item a:hover {
  background: #fff2;
}

.is-open {
  height: 180px;
}



/*-------------------------------
  Cover
-------------------------------*/

.cover {
  width: 100%; height: 70%;
  background-image: url(images/mountains.jpg); background-position: center center; background-size: cover;
  position: relative;
  z-index: 0
}

.cover_filter {
  width: 100%; height: 100%;
  background: black;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
}

.cover_caption {
  height: 100%; width: 100%;
  display:table;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.cover_caption_copy {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.cover_caption_copy h1 {
  font-size: 48px;
  font-weight: 200;
}
.cover_caption_copy h3 {
  font-size: 20px;
  font-weight: 300;
}



/*-------------------------------
  Title
-------------------------------*/

.title {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
}
.title_copy{
  color: white;
  position: absolute;
  top: 80px;
  left: 80px;
}
.title_text {
  font-size: 54px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.title_subtext {
  color: white;
  font-size: 16px;
  opacity: 0.7;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}
.title_background {
  width: 150%;
  height: 100%;
  transform: rotate(-10deg);
  transform-origin: -10% 100%;
	background: linear-gradient(135deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


/*-------------------------------
  Navbar
-------------------------------*/

.navbar {
  width: 100%;
  min-height: 80px;
  background: #eee;
}
.navbar_logo {
  float: left;
  padding: 5px;
}
.navbar_logo img {
  display: block;
  margin: auto auto;
  height: 70px;
  width: 70px;
  opacity: 0.7;
  transition: 0.3s;
}
.navbar_logo img:hover {
  opacity: 1;
}
.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
.sticky + .banners {
  padding-top: 80px;
}

.navbar_menu {
  float: right;
  margin: 0 0;
  padding-right: 8px;
}
.navbar_menu_item {
  display: inline-block;
}
.navbar_menu_item a {
  padding: 13px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  opacity: 0.7;
  transition: 0.3s;
}
.navbar_menu_item a:hover {
  opacity: 1;
}

.navbar_icon {
  display: none;
  float: right;
  margin-top: 12px;
  margin-right: 12px;
  padding: 16px;
  color: black;
  opacity: 0.7;
  transition: 0.3s;
}
.navbar_icon:hover {
  opacity: 1;
}

/*-------------------------------
  Cards
-------------------------------*/

.card_row{
  display: flex !important;
  max-width: 1200px;
  margin: 40px auto;
}

.card{
  flex: 1;
  max-width: 30%;
  margin: 1.5%;
  background-color: white;
  float: left;
  border-radius: 5px;
  z-index: 0
}

.card_image {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card_copy {
  padding: 5px 20px;
}
.card_copy h3 {
  margin: 10px 0;
}



/*-------------------------------
  Banner
-------------------------------*/

.banners{
  padding: 0 10%;
  width: 100%;
  height: auto;
}

.banner {
  background: white;
  height: auto;
  width: auto;
  margin: 10px 0;
}

.banner_image {
  width: 25%;
  height: 280px;
  float: left;
  background-image: url(images/mountains.jpg);
  background-position: center center;
  background-size: cover;
}

.banner_copy {
  width: 75%;
  height: 280px;
  float: left;
}

.banner_copy_text {
  position: relative;
  padding: 30px;
  height: 100%;
}
.banner_copy_text h2{
  margin: 0 auto;
}
.banner_copy_text h3{
  margin: 15px auto;
}
.banner_copy_text p{
  margin-bottom: 70px
}
.banner_copy_text a{
  position: absolute;
  margin: 0;
  bottom: 30px;
  right: 30px;
}



/*-------------------------------
  Articles
-------------------------------*/

.articles {
  display: block;
  max-width: 1200px;
  padding: 20px;
  margin: 0 10%;
}

.side-bar {
  float: left;
  width: 30%;
  padding: 0 40px;
}

.article {
  background: white;
  float: right;
  width: 65%;
  padding: 30px 40px;
  position: relative;
  z-index: 50;
}


/*-------------------------------
  Footer
-------------------------------*/

.footer {
  height: 200px;
  background-color: #333;
  padding: 30px;
  margin-top: 40px;
  text-align: center;
  color: white;
}

.footer_main i {
  vertical-align: -6px;
}
.footer_main a {
  color: white;
}

.footer_secondary {
  opacity: 0.6;
}



/*-------------------------------
  Smartphone Layout
-------------------------------*/

@media (max-width: 767px) {

  /*Title*/
  .title {
    height: 80%;
  }
  .title_copy {
    top: 60px;
    left: 60px;
  }

  /*Navbar*/
  .navbar_icon {
    display: block;
  }
  .navbar_menu {
    width: 100%;
    height: 0;
    float: none;
    overflow: hidden;
    padding: 0;
  }
  .navbar_menu_item {
    display: block;
  }
  .navbar_menu_item a{
    display: block;
    text-align: left;
    padding-left: 16px;
  }
  .unfolded {
    height: 200px;
  }

  /*Cover*/
  .cover {
    height: 100%;
  }
  .cover--subpages{
    height: 70%;
  }

  /*Cards*/
  .card_row{
    display: block !important;
    margin: 20px 0;
  }
  .card {
    display: block;
    min-width: 97%;
  }

  /*Banner*/
  .banners{
    padding: 0;
  }

  .banner {
    height: auto;
    display: flex !important;
    flex-direction: column;
  }
  .banner_image {
    order: 1;
    width: 100%;
    height: 200px;
  }
  .banner_image--home {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .banner_copy {
    order: 2;
    width: 100%;
  }

}



/*-------------------------------
  Additional Stuff
-------------------------------*/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

*,
*:before,
*:after {
  box-sizing: border-box;
}
