html, body {
  height: 100%;
  font-family: "roboto";
}

body {
  background-color: #eee;
}



/*-------------------------------
    General Customization
-------------------------------*/

.animate {
  transition: all 0.3s ease-out;
}

.shadow {
  box-shadow: 0 4px 4px #0002;
}

.button {
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 3px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  box-shadow: 0 2px 2px #0002;
}
.button:hover {
  box-shadow: 0 3px 4px #0004;
}



/*-------------------------------
  Header
-------------------------------*/

.header {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0) );
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header_logo {
  color: white;
  float: left;
  padding: 5px;
}
.header_logo img{
  height: 70px;
  width: 70px;
}

.header_icon-bar {
  display: block;
  color: white;
  float: right;
  padding: 28px;
  display: none;
}
.header_icon-bar:hover {
  background: #fff2;
}

.header_menu {
  float: right;
  margin: 0;
  padding: 0;
}

.header_menu_item {
  display: inline-block;
}
.header_menu_item a {
  color: white;
  font-weight: 400;
  display: block;
  padding: 32px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.header_menu_item a:hover {
  background: #fff2;
}



/*-------------------------------
  Cover
-------------------------------*/

.cover {
  width: 100%; height: 70%;
  background-image: url(images/mountains.jpg); background-position: center center; background-size: cover;
  position: relative;
  z-index: 0
}

.cover_filter {
  width: 100%; height: 100%;
  background: black;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
}

.cover_caption {
  height: 100%; width: 100%;
  display:table;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.cover_caption_copy {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.cover_caption_copy h1 {
  font-size: 48px;
  font-weight: 200;
}
.cover_caption_copy h3 {
  font-size: 20px;
  font-weight: 300;
}



/*-------------------------------
  Cards
-------------------------------*/

.card_row{
  display: flex !important;
  max-width: 1200px;
  margin: 40px auto;
}

.card{
  flex: 1;
  max-width: 30%;
  margin: 1.5%;
  background-color: white;
  float: left;
  border-radius: 5px;
  position: relative;
  z-index: 0
}

.card_filter {
  width: 100%; height: 100%;
  background: #0006;
  display: table;
  color: white; font-size: 30px; font-weight: 600; text-align: center; text-decoration: none; text-transform: uppercase;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}
.card_filter:hover {
  opacity: 1;
}
.card_filter span {
  display: table-cell;
  vertical-align: middle;
}

.card_image {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card_copy {
  padding: 5px 20px;
}
.card_copy h3 {
  margin: 10px 0;
}



/*-------------------------------
  Banner
-------------------------------*/

.banner {
  background: white;
  height: 50%;
  margin: 10px 0;
}

.banner_image {
  width: 30%;
  height: 100%;
  float: left;
  background-image: url(images/mountains.jpg);
  background-position: center center;
  background-size: cover;
}

.banner_copy {
  width: 70%;
  height: 100%;
  float: left;
}

.banner_copy_text {
  position: relative;
  padding: 30px;
  height: 100%;
}
.banner_copy_text h2{
  margin: 0 auto;
}
.banner_copy_text h3{
  margin: 15px auto;
}
.banner_copy_text p{
  margin-bottom: 70px
}
.banner_copy_text a{
  position: absolute;
  margin: 0;
  bottom: 30px;
  right: 30px;
}



/*-------------------------------
  Intro
-------------------------------*/

.intro {}
.intro_copy {
  background: white;
  max-width: 800px;
  padding: 30px 40px;
  margin: 20px auto;
  margin-top: -40px;
  border-radius: 5px;
  position: relative;
  z-index: 50;
}


/*-------------------------------
  Footer
-------------------------------*/

.footer {
  height: 200px;
  background-color: #333;
  color: white;
  padding: 30px;
  margin-top: 40px;
}



/*-------------------------------
  Smartphone Layout
-------------------------------*/

@media (max-width: 767px) {

  /*Header*/
  .header_icon-bar {
    display: block;
  }
  .header_menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }
  .header_menu_item {
    display: block;
  }
  .header_menu_item a {
    text-align: right;
    padding: 20px;
  }
  .is-open {
    height: 300px;
    overflow: auto;
  }

  /*Cover*/
  .cover {
    height: 100%;
  }
  .cover--subpages{
    height: 70%;
  }

  /*Cards*/
  .card_row{
    display: block !important;
    margin: 20px 0;
  }
  .card {
    display: block;
    min-width: 97%;
  }

  /*Banner*/
  .banner {
    height: auto;
    display: flex !important;
    flex-direction: column;
  }
  .banner_image {
    order: 1;
    width: 100%;
    height: 200px;
  }
  .banner_copy {
    order: 2;
    display: table-footer-group !important;
    width: 100%;
  }

}



/*-------------------------------
  Additional Stuff
-------------------------------*/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

*,
*:before,
*:after {
  box-sizing: border-box;
}
